﻿@charset "UTF-8";
@import url("reset.css");
@import url("css.css");
@font-face {
  font-family: 'SF Pro Display';
  src: url("");
  src: url("SFProDisplay-Bold.eot") format("eot"), url("SFProDisplay-Bold.woff") format("woff"), url("SFProDisplay-Bold.woff2") format("woff2"), url("SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("");
  src: url("SFProDisplay-Medium.eot") format("eot"), url("SFProDisplay-Medium.woff") format("woff"), url("SFProDisplay-Medium.woff2") format("woff2"), url("SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("");
  src: url("SFProDisplay-Regular.eot") format("eot"), url("SFProDisplay-Regular.woff") format("woff"), url("SFProDisplay-Regular.woff2") format("woff2"), url("SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("");
  src: url("SFProDisplay-Semibold.eot") format("eot"), url("SFProDisplay-Semibold.woff") format("woff"), url("SFProDisplay-Semibold.woff2") format("woff2"), url("SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
body {
  font-family: 'SF Pro Display'; }
  
h2 {
    font-size: 20px;
    font-family: Rubik;
    font-weight: 500;
    margin-bottom: 15px;
}

.pay_logos {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.field-icon {
  z-index: 2; }

.form-group {
  position: relative;
  margin-bottom: 40px;
  width: 100%; }
  .form-group i {
    cursor: pointer; }
    .form-group i.icon.ionic-md-eye {
      width: 16px;
      height: 11px;
      background-color: #9482B8;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-image: url("");
      mask-image: url("");
      position: absolute;
      right: 10px;
      bottom: 23px; }
    .form-group i.icon.ionic-md-eye-off {
      width: 16px;
      height: 14px;
      background-color: #9482B8;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-image: url("");
      mask-image: url("");
      position: absolute;
      right: 10px;
      bottom: 21px; }
  .form-group:hover input, .form-group:hover textarea {
    border: 1px solid #243EE0;
    background: #fff; }
  .form-group.active input, .form-group.active textarea {
    border: 1px solid #243EE0;
    background: #fff; }
  .form-group input, .form-group textarea {
    font-size: 14px;
    color: #272331;
    letter-spacing: 0.2px;
    padding: 19px 15px;
    border-radius: 8px;
    line-height: 56px;
    height: 56px;
    background: #F8F8FD;
    border: 1px solid #F8F8FD;
    width: 100%; }
    .form-group input.error, .form-group input.wpcf7-not-valid, .form-group textarea.error, .form-group textarea.wpcf7-not-valid {
      border: 1px solid #E03866;
      background: #fff; }
  .form-group textarea {
    min-height: 189px;
    padding: 20px 15px;
    line-height: 16px; }
  .form-group .form-info {
    font-size: 11px;
    color: #9782B2;
    line-height: 15px; }
    .form-group .form-info a {
      color: #9782B2;
      text-decoration: underline; }
      .form-group .form-info a:hover {
        color: #143FDB;
        text-decoration: none; }
  .form-group label.error, .form-group .wpcf7-not-valid-tip {
    color: #D83765;
    font-size: 10px;
    margin-top: 7px;
    padding-left: 21px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -30px; }
    .form-group label.error:before, .form-group .wpcf7-not-valid-tip:before {
      content: url("");
      display: inline-block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 2px; }
    .form-group label.error.ionic-md-eye-off, .form-group .wpcf7-not-valid-tip.ionic-md-eye-off {
      width: 16px;
      height: 14px;
      background-color: #9482B8;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-image: url("");
      mask-image: url("");
      position: absolute;
      right: 10px;
      bottom: 21px; }

.free-consultation-box label.error, .free-consultation-box .wpcf7-not-valid-tip {
  margin-bottom: -10px; }
  .free-consultation-box label.error:before, .free-consultation-box .wpcf7-not-valid-tip:before {
    top: -3px; }

.form-group-inline .form-group {
  width: auto; }

.inline-radio {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
  background: #F8F8FD;
  min-width: 495px;
  position: relative; }
  .inline-radio .inline-radio-slider {
    position: absolute;
    width: 33%;
    left: 0;
    top: 0;
    background: #143FDB;
    height: 100%;
    transition: left .4s;
    z-index: 1;
    border-radius: 8px; }
    @media screen and (max-width: 640px) {
      .inline-radio .inline-radio-slider {
        width: 100%;
        top: 0;
        height: 56px;
        left: 0 !important; } }
  @media screen and (max-width: 640px) {
    .inline-radio {
      min-width: auto;
      flex-wrap: wrap;
      width: 100%; } }
  .inline-radio div {
    position: relative;
    flex: 1;
    z-index: 10; }
    .inline-radio div.hovered.active input + label {
      color: #fff !important;
      transition: color 0.4s !important; }
    .inline-radio div.hovered input + label {
      color: #fff !important;
      transition: color 0.4s !important; }
      .inline-radio div.hovered input + label span {
        background: #E83967 !important;
        transition: background 0.4s !important; }
    .inline-radio div.active:hover input + label {
      color: #fff !important;
      transition: color 0.4s !important; }
    .inline-radio div:nth-child(1):hover ~ .inline-radio-slider, .inline-radio div:nth-child(1):focus ~ .inline-radio-slider, .inline-radio div:nth-child(1):active ~ .inline-radio-slider, .inline-radio div:nth-child(1).active ~ .inline-radio-slider {
      left: 0; }
    .inline-radio div:nth-child(2):hover ~ .inline-radio-slider, .inline-radio div:nth-child(2):focus ~ .inline-radio-slider, .inline-radio div:nth-child(2):active ~ .inline-radio-slider, .inline-radio div:nth-child(2).active ~ .inline-radio-slider {
      left: 33.3333%; }
    .inline-radio div:nth-child(3):hover ~ .inline-radio-slider, .inline-radio div:nth-child(3):focus ~ .inline-radio-slider, .inline-radio div:nth-child(3):active ~ .inline-radio-slider, .inline-radio div:nth-child(3).active ~ .inline-radio-slider {
      left: 66.666%; }
    @media screen and (max-width: 640px) {
      .inline-radio div:nth-child(1):hover ~ .inline-radio-slider, .inline-radio div:nth-child(1):focus ~ .inline-radio-slider, .inline-radio div:nth-child(1):active ~ .inline-radio-slider, .inline-radio div:nth-child(1).active ~ .inline-radio-slider {
        top: 0; }
      .inline-radio div:nth-child(2):hover ~ .inline-radio-slider, .inline-radio div:nth-child(2):focus ~ .inline-radio-slider, .inline-radio div:nth-child(2):active ~ .inline-radio-slider, .inline-radio div:nth-child(2).active ~ .inline-radio-slider {
        top: 33.3333%; }
      .inline-radio div:nth-child(3):hover ~ .inline-radio-slider, .inline-radio div:nth-child(3):focus ~ .inline-radio-slider, .inline-radio div:nth-child(3):active ~ .inline-radio-slider, .inline-radio div:nth-child(3).active ~ .inline-radio-slider {
        top: 66.666%; } }
    @media screen and (max-width: 640px) {
      .inline-radio div {
        width: 100%;
        flex: auto; } }
  .inline-radio input {
    width: 100%;
    height: 56px;
    opacity: 0;
    cursor: pointer;
    line-height: 56px; }
    .inline-radio input:checked {
      cursor: default; }
  .inline-radio label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b6b6b6;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap; }
    .inline-radio label span {
      padding: 4px 9px 4px 6px;
      background: #9782B2;
      border-radius: 4px;
      color: #fff;
      margin-left: 10px; }
  .inline-radio div:last-child label {
    border-right: 0; }
  .inline-radio input:checked + label {
    border-radius: 8px; }
    .inline-radio input:checked + label span {
      background: #E83967 !important; }

label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #292331;
  display: block;
  text-align: left;
  float: left; }

.form-horizontal {
  display: inline-block;
  position: relative; }

.form-group-inline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; }
  .form-group-inline > * {
    margin-left: 20px;
    margin-right: 20px; }

.not-required {
  font-size: 10px;
  line-height: 12px;
  float: right;
  text-transform: uppercase;
  color: #9782B2;
  margin-bottom: 11px; }

.wpcf7-response-output {
  display: none !important; }

i.icon {
  margin-right: 9px;
  display: inline-block; }
  i.icon.ic-user {
    width: 13px;
    height: 13px;
    background-color: #fff;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("ic-user.svg");
    mask-image: url("ic-user.svg"); }
  i.icon.call-back {
    width: 14px;
    height: 14px;
    background-color: #fff;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("call-back.svg");
    mask-image: url("call-back.svg"); }
  i.icon.question {
    width: 24px;
    height: 24px;
    background-color: inherit;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("");
    mask-image: url(""); }
  i.icon.vk {
    width: 26px;
    height: 15px;
    background-color: #9782B2;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("vk.svg");
    mask-image: url("vk.svg"); }
  i.icon.ok {
    width: 13px;
    height: 21px;
    background-color: #9782B2;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("ok.svg");
    mask-image: url("ok.svg"); }
  i.icon.insta {
    width: 22px;
    height: 22px;
    background-color: #9782B2;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("insta.svg");
    mask-image: url("insta.svg"); }
  i.icon.watch {
    margin-bottom: -2px;
    width: 14px;
    height: 14px;
    background-color: #00D7FF;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("watch.svg");
    mask-image: url("watch.svg"); }

.navigation {
  height: 72px;
  background: #fff; }

.top-navigation {
  background: #292331;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.2px;
  height: 30px; }
  @media screen and (max-width: 920px) {
    .top-navigation {
      display: none; } }
  .top-navigation__wrap {
    display: flex;
    justify-content: space-between; }
    .top-navigation__wrap ul {
      display: flex;
      align-items: center;
      margin-left: -25px;
      margin-right: -25px; }
      .top-navigation__wrap ul li {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        position: relative; }
        .top-navigation__wrap ul li.current_page_item a:before {
          background: #47d7ff; }
        .top-navigation__wrap ul li a {
          color: #fff;
          padding-top: 9px;
          padding-bottom: 9px;
          display: block; }
          .top-navigation__wrap ul li a:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: transparent; }
          .top-navigation__wrap ul li a:hover {
            color: #47d7ff; }
            .top-navigation__wrap ul li a:hover i.ic-user {
              background-color: #47d7ff; }
          .top-navigation__wrap ul li a.active:before {
            background: #47d7ff; }

.brand {
  position: absolute;
  float: left;
  line-height: 72px;
  text-transform: uppercase;
  font-size: 1.4em; }
  @media screen and (max-width: 920px) {
    .brand {
      line-height: 54px; } }
  .brand a,
  .brand a:visited {
    color: #292331;
    text-decoration: none; }

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media only screen and (max-width: 920px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }

nav {
  float: right; }
  @media screen and (max-width: 920px) {
    nav .callback {
      margin-top: 10px !important;
      font-weight: normal; } }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li:last-of-type a {
        padding-right: 0; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 25px;
        line-height: 72px;
        color: #292331;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          color: #4885FF; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' тЦ╛'; }
      nav ul li.current_page_item a {
        color: #143FDB; }
        nav ul li.current_page_item a:before {
          background: #143FDB; }
      nav ul li a {
        position: relative;
        font-weight: 600; }
        @media only screen and (max-width: 920px) {
          nav ul li a {
            padding-top: 13px !important;
            padding-bottom: 13px !important; } }
        @media only screen and (min-width: 921px) {
          nav ul li a:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            left: 0;
            bottom: 0;
            background: transparent; } }
        nav ul li a.active {
          color: #143FDB; }
          nav ul li a.active:before {
            background: #143FDB; }
        nav ul li a.callback {
          color: #143FDB; }
          nav ul li a.callback i.call-back {
            background-color: #143FDB; }
          nav ul li a.callback:hover i.call-back {
            background-color: #4885FF; }
        nav ul li a.email {
          color: #143FDB; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }
    nav ul .scroll-menu-mobile {
      overflow-x: auto;
      margin-bottom: 15px; }
    nav ul ul.scroll-menu-mobile-ul {
      display: flex;
      background: #292331;
      padding-left: 16px;
      padding-right: 16px;
      overflow-x: auto; }
      nav ul ul.scroll-menu-mobile-ul li {
        min-width: auto; }
      @media screen and (min-width: 921px) {
        nav ul ul.scroll-menu-mobile-ul {
          display: none; } }
      nav ul ul.scroll-menu-mobile-ul .ic-user {
        margin-bottom: -2px; }
      nav ul ul.scroll-menu-mobile-ul li {
        margin-right: 26px; }
        nav ul ul.scroll-menu-mobile-ul li.current_page_item a {
          color: #47d7ff; }
          nav ul ul.scroll-menu-mobile-ul li.current_page_item a:before, nav ul ul.scroll-menu-mobile-ul li.current_page_item a i {
            background: #47d7ff; }
      nav ul ul.scroll-menu-mobile-ul a {
        white-space: nowrap;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        padding: 6px 0; }
        nav ul ul.scroll-menu-mobile-ul a:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: transparent; }
        nav ul ul.scroll-menu-mobile-ul a.active {
          color: #47d7ff; }
          nav ul ul.scroll-menu-mobile-ul a.active:before, nav ul ul.scroll-menu-mobile-ul a.active i {
            background: #47d7ff; }
        nav ul ul.scroll-menu-mobile-ul a:hover {
          color: #4885FF; }
          nav ul ul.scroll-menu-mobile-ul a:hover i {
            background-color: #4885FF; }
  nav i.call-back {
    margin-bottom: -2px; }
  nav .phone {
    font-weight: bold;
    padding-right: 0 !important; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff; }

.visible-mobile {
  display: none; }
  @media only screen and (max-width: 920px) {
    .visible-mobile {
      display: block; } }

.mobile-menu-bottom {
  background: #292331;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px; }
  .mobile-menu-bottom .mobile-menu-bottom-text {
    padding-top: 13px;
    padding-bottom: 13px; }
  .mobile-menu-bottom .footer-adress, .mobile-menu-bottom .footer-time {
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 25px; }
  .mobile-menu-bottom .footer-social {
    border-top: 1px solid #352F3E; }
  .mobile-menu-bottom a {
    color: #fff; }
    .mobile-menu-bottom a:after {
      display: none; }
  .mobile-menu-bottom .footer-social {
    display: flex;
    align-items: center;
    justify-content: center; }
    .mobile-menu-bottom .footer-social > * {
      margin-left: 15px;
      margin-right: 15px; }

@media only screen and (max-width: 920px) {
  .navigation {
    height: 58px; }

  .nav-mobile {
    display: block;
    cursor: pointer;
    float: right;
    margin-top: -45px;
    position: relative; }

  nav {
    padding: 0;
    margin-top: 58px;
    position: relative;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    background: #fff;
    z-index: 10; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }

  .nav-dropdown {
    position: static; } }
@media screen and (min-width: 921px) {
  .nav-list {
    display: block !important; } }
@media screen and (min-width: 921px) and (max-height: 1200px) {
  nav .nav-list li a {
    padding: 0 15px; } }
@media screen and (min-width: 921px) and (max-width: 980px) {
  nav .nav-list li a {
    padding: 0 10px; } }
#nav-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 16px;
    background: #292331;
    position: absolute;
    left: 9px;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -5px;
    left: 0; }
  #nav-toggle span:after {
    bottom: -5px;
    left: 0; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

.scroll-mobile-menu-top-wrap {
  overflow-x: auto; }
  .scroll-mobile-menu-top-wrap .scroll-mobile-menu-top {
    display: flex;
    margin-top: 5px;
    width: 100%; }
    .scroll-mobile-menu-top-wrap .scroll-mobile-menu-top li {
      font-size: 16px;
      font-weight: 700; }
      .scroll-mobile-menu-top-wrap .scroll-mobile-menu-top li.current-menu-item a {
        color: #143FDB;
        border-color: #143FDB; }
      .scroll-mobile-menu-top-wrap .scroll-mobile-menu-top li a {
        color: inherit;
        border-bottom: 3px solid transparent;
        padding: 0 0 10px 0 !important;
        white-space: nowrap;
        margin-left: 10px;
        margin-right: 10px; }
        .scroll-mobile-menu-top-wrap .scroll-mobile-menu-top li a.active {
          color: #143FDB;
          border-color: #143FDB; }

@media screen and (max-width: 920px) {
  .content {
    margin-top: 96px; } }

@media screen and (min-width: 921px) {
  body.scrollMenu .content {
    margin-top: 72px; } }

@media screen and (max-width: 920px) {
  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; } }
.navigation.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 15px 30px rgba(20, 63, 219, 0.1); }

.admin-bar .navigation.fixed {
  margin-top: 32px; }

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  min-width: 320px; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1 0 auto;
  overflow: hidden; }

.footer {
  flex: 0 0 auto; }

body {
  font-family: SF Pro Display;
  background-color: #F8F8FD;
  position: relative;
  color: #292331; }

a, a:visited {
  color: #143FDB;
  text-decoration: none; }

a:hover {
  color: #fff; }

.flex {
  display: flex; }
  .flex-ai-ce {
    align-items: center; }
  .flex-ai-fe {
    align-items: flex-end; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-fe {
    justify-content: flex-end; }

.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.main-slider {
  position: relative;
  width: 100%;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
  margin-bottom: 91px; }
  @media screen and (max-width: 920px) {
    .main-slider {
      margin-bottom: 40px; } }
  .main-slider img {
    background-size: cover; }
  .main-slider.slick-initialized {
    opacity: 1;
    visibility: visible; }
  @media screen and (min-width: 1200px) {
    .main-slider .btn-orange {
      padding-left: 60px;
      padding-right: 60px; } }

.slick-slide {
  position: relative; }
  .slick-slide::before {
    opacity: .3;
    z-index: 1; }
  .slick-slide video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }
  .slick-slide iframe {
    position: relative;
    pointer-events: none; }
  .slick-slide figure {
    position: relative;
    height: 100%;
    min-height: 252px; }
  .slick-slide .slide-image {
    opacity: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .8s ease; }
    .slick-slide .slide-image.show {
      opacity: 1; }
  .slick-slide .image-entity {
    width: 100%;
    opacity: 1;
    visibility: hidden;
    min-height: 252px; }
  .slick-slide .loading {
    position: absolute;
    top: 44%;
    left: 0;
    width: 100%; }
  .slick-slide .slide-media {
    animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
  .slick-slide.slick-active {
    z-index: 1; }
    .slick-slide.slick-active .slide-media {
      animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
    .slick-slide.slick-active .caption {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s; }

.caption {
  position: absolute;
  top: 137px;
  width: 100%;
  height: 317px;
  left: 0;
  text-align: left;
  color: #fff;
  margin: 0;
  font-size: 40px;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease;
  transform: translateY(100px); }
  @media screen and (max-width: 1300px) {
    .caption {
      top: 50%;
      transform: translateY(-50%) !important; } }
  @media screen and (max-width: 767px) {
    .caption {
      width: calc(100% - 32px);
      height: 69%;
      padding-bottom: 88px;
      box-sizing: border-box; } }
  .caption .slide-title {
    font-family: 'Rubik', sans-serif;
    font-size: 52px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase; }
    .caption .slide-title .blue {
      color: #00D7FF; }
    @media screen and (max-width: 1080px) {
      .caption .slide-title {
        font-size: 40px;
        line-height: inherit; } }
    @media screen and (max-width: 560px) {
      .caption .slide-title {
        font-size: 25px;
        line-height: 30px; } }
  .caption .slide-info {
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 57px; }
    @media screen and (max-width: 767px) {
      .caption .slide-info {
        font-size: 15px;
        line-height: inherit; } }
  .caption .slide-btn {
    position: absolute;
    bottom: 0;
    width: 100%; }

.slick-dots {
  text-align: center;
  padding-top: 15px; }
  .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 14px; }
    .slick-dots li button {
      width: 16px;
      height: 16px;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 0 0 0 transparent;
      vertical-align: middle;
      color: #fff;
      background-color: #fff;
      transition: all .3s ease;
      opacity: .4; }
      .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:hover {
        opacity: 1; }
    .slick-dots li.slick-active button {
      border-color: #F8F8FD;
      box-shadow: 0 0 0 2px #fff;
      opacity: 1; }

.circle-bg {
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 12px;
  stroke-linecap: butt; }

.circle-go {
  fill: rgba(255, 255, 255, 0);
  stroke: #fff;
  stroke-width: 12px;
  stroke-linecap: round;
  opacity: 0.41; }

.circle-tx {
  fill: rgba(255, 255, 255, 0.6);
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 2;
  font: bold 50px 'Arial';
  text-anchor: middle; }

.slick-dots {
  position: absolute;
  bottom: 37px; }
  @media screen and (max-width: 920px) {
    .slick-dots {
      bottom: 15px; } }
  .slick-dots li {
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box; }
    .slick-dots li svg {
      display: none; }
    .slick-dots li.slick-active {
      background: transparent;
      border: 2px solid #fff; }
      .slick-dots li.slick-active svg {
        display: block;
        width: 28px;
        height: 28px;
        margin-left: -9px;
        margin-top: -9px; }

@keyframes slideIn {
  from {
    filter: blur(15px); }
  to {
    filter: blur(0); } }
@keyframes slideOut {
  from {
    filter: blur(0); }
  to {
    filter: blur(15px); } }
.shadow {
  box-shadow: 0 15px 30px rgba(20, 63, 219, 0.1); }

.lp-block a {
  color: #143FDB; }
@media screen and (max-width: 767px) {
  .lp-block {
    margin-bottom: 40px; } }
.lp-block-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  color: #292331;
  margin-bottom: 37px;
  padding-left: 60px;
  position: relative;
  font-family: Rubik; }
  @media screen and (max-width: 920px) {
    .lp-block-title {
      padding-left: 30px; } }
  .lp-block-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 7px;
    height: 28px;
    display: inline-block;
    background: #E83967; }
  @media screen and (max-width: 920px) {
    .lp-block-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px; }
      .lp-block-title:before {
        width: 4px;
        height: 14px;
        top: 5px; } }

.portfolio__block .pattern-bg {
  position: relative;
  max-width: 1146px;
  margin: 0 auto;
  z-index: 5; }
  .portfolio__block .pattern-bg:before {
    content: url("pattern-round.svg");
    left: -400px;
    bottom: -83px;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 920px) {
      .portfolio__block .pattern-bg:before {
        display: none; } }
.portfolio__block__slider {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 920px) {
    .portfolio__block__slider {
      margin-bottom: 40px; } }
  .portfolio__block__slider .slick-slide::before {
    display: none; }
  .portfolio__block__slider .slick-slide {
    opacity: 0.4;
    transition: 0.7s; }
    .portfolio__block__slider .slick-slide.slick-center {
      opacity: 1; }
      .portfolio__block__slider .slick-slide.slick-center .image {
        position: relative;
        z-index: 5; }
        .portfolio__block__slider .slick-slide.slick-center .image:after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 20%;
          -webkit-filter: blur(30px);
          -moz-filter: blur(30px);
          -o-filter: blur(30px);
          -ms-filter: blur(30px);
          filter: blur(30px);
          border-radius: 24px;
          width: 80%;
          height: 80%;
          background-color: #143FDB;
          z-index: -1;
          opacity: 0.3; }
    .portfolio__block__slider .slick-slide:not(.slick-center) {
      cursor: pointer; }
      .portfolio__block__slider .slick-slide:not(.slick-center) .image-info {
        display: none; }
      .portfolio__block__slider .slick-slide:not(.slick-center) .text {
        display: none; }
  .portfolio__block__slider-item {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 666px; }
    @media screen and (max-width: 920px) {
      .portfolio__block__slider-item {
        min-width: 254px;
        padding-left: 7px;
        padding-right: 7px; } }
    .portfolio__block__slider-item .image {
      position: relative;
      margin-left: auto;
      margin-right: auto; }
      .portfolio__block__slider-item .image img {
        border-radius: 24px;
        max-width: 100%;
        height: auto; }
        @media screen and (max-width: 920px) {
          .portfolio__block__slider-item .image img {
            border-radius: 8px 8px 0 0; } }
      .portfolio__block__slider-item .image-info {
        position: absolute;
        left: 20px;
        bottom: 20px;
        border-radius: 10px;
        color: #292331;
        overflow: hidden;
        max-width: 230px; }
        @media screen and (max-width: 920px) {
          .portfolio__block__slider-item .image-info {
            position: relative;
            left: 0;
            bottom: 0;
            border-radius: 0 0 8px 8px;
            max-width: 100%; } }
        .portfolio__block__slider-item .image-info .top-block {
          padding: 15px 20px 11px 20px;
          background: rgba(255, 255, 255, 0.9); }
          @media screen and (max-width: 920px) {
            .portfolio__block__slider-item .image-info .top-block {
              background: #fff; } }
        .portfolio__block__slider-item .image-info .bottom-block {
          padding: 9px 20px 10px 20px;
          background: #fff; }
        .portfolio__block__slider-item .image-info-place {
          font-size: 14px;
          line-height: 16px; }
        .portfolio__block__slider-item .image-info-text {
          font-size: 14px;
          font-weight: 700;
          margin-top: 6px; }
        .portfolio__block__slider-item .image-info-price {
          font-size: 20px;
          line-height: 24px;
          color: #E83967; }
.portfolio__block .text {
  font-size: 16px;
  line-height: 29px;
  color: #292331;
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center; }
  @media screen and (max-width: 920px) {
    .portfolio__block .text {
      margin-top: 41px;
      margin-bottom: 40px; } }
  .portfolio__block .text p {
    margin-bottom: 29px; }
  .portfolio__block .text b {
    font-weight: 700; }

.reviews {
  color: #292331;
  margin-bottom: 90px; }
  @media screen and (max-width: 980px) {
    .reviews {
      margin-bottom: 40px; } }
  .reviews .shadow {
    padding-top: 70px;
    border-radius: 24px;
    padding-bottom: 45px;
    position: relative;
    background: #fff; }
    .reviews .shadow:before {
      content: url("pattern-xz.svg");
      left: -200px;
      bottom: -50px;
      position: absolute;
      z-index: -1; }
      @media screen and (max-width: 920px) {
        .reviews .shadow:before {
          display: none; } }
    .reviews .shadow:after {
      content: url("pattern-xz.svg");
      right: -200px;
      top: -50px;
      position: absolute;
      z-index: -1; }
      @media screen and (max-width: 920px) {
        .reviews .shadow:after {
          display: none; } }
    @media screen and (max-width: 980px) {
      .reviews .shadow {
        padding-top: 0;
        padding-bottom: 35px; } }
  .reviews .reviews-box-btn {
    text-align: center; }
    @media screen and (max-width: 920px) {
      .reviews .reviews-box-btn {
        margin-left: 30px;
        margin-right: 30px; }
        .reviews .reviews-box-btn .btn {
          margin-bottom: 30px; } }
  @media screen and (max-width: 980px) {
    .reviews .slider-nav {
      margin-bottom: 0; } }
  .reviews .slider-nav .slick-slide:not(.slick-current) {
    cursor: pointer; }
  .reviews img {
    width: 78px;
    height: 78px;
    transform: scale(1, 1);
    transition: transform 0.1s; }
    @media screen and (max-width: 980px) {
      .reviews img {
        opacity: 0.5; } }
  .reviews .slick-track .slick-center img {
    transform: scale(2, 2) !important;
    transition: transform 0.3s;
    opacity: 1 !important;
    cursor: default; }
    @media screen and (max-width: 980px) {
      .reviews .slick-track .slick-center img {
        transform: scale(1.44, 1.44) !important; } }
  .reviews .slick-track .slick-slide img {
    transform: scale(1.44, 1.44);
    transition: transform 0.3s;
    cursor: pointer; }
  .reviews .slick-track .slick-slide.slick-active img {
    transform: scale(1, 1);
    opacity: 0.2; }
  .reviews .slick-track .slick-active + .slick-active img {
    transform: scale(1.44, 1.44);
    opacity: 0.5; }
    @media screen and (max-width: 980px) {
      .reviews .slick-track .slick-active + .slick-active img {
        transform: scale(1, 1); } }
  .reviews .slick-track .slick-active + .slick-active + .slick-active + .slick-active + .slick-active img {
    transform: scale(1, 1); }
  .reviews .slick-track .slick-slide,
  .reviews .slick-track .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(1, 1);
    transition: transform 0.3s; }
  .reviews .slick-slide.slick-center .sin-testiImage {
    position: relative;
    z-index: 5; }
    .reviews .slick-slide.slick-center .sin-testiImage:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      -webkit-filter: blur(27px);
      -moz-filter: blur(27px);
      -o-filter: blur(27px);
      -ms-filter: blur(27px);
      filter: blur(27px);
      width: 98px;
      height: 98px;
      background-color: #143FDB;
      z-index: -1;
      opacity: 0.5; }
      @media screen and (max-width: 920px) {
        .reviews .slick-slide.slick-center .sin-testiImage:after {
          width: 70px;
          height: 70px;
          bottom: 50px; } }
  .reviews .slick-slide:not(.slick-center) .sin-testiImage {
    cursor: pointer; }

.reviews .slick-slider {
  z-index: 9; }

.reviews .sin-testiImage {
  min-height: 198px;
  display: flex !important;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 921px) {
    .reviews .sin-testiImage {
      padding-bottom: 40px; } }
  @media screen and (max-width: 920px) {
    .reviews .sin-testiImage {
      min-height: 178px; } }

.reviews .sin-testiImage img {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  max-width: 100%;
  height: auto; }
  @media screen and (max-width: 380px) {
    .reviews .sin-testiImage img {
      padding-left: 10px;
      padding-right: 10px; } }

.reviews .reviews-slider {
  position: relative; }

.reviews .reviews-btns {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 980px) {
    .reviews .reviews-btns {
      margin-left: 30px;
      margin-right: 30px; } }

.reviews .reviews-slider .icon-angle-left,
.reviews .reviews-slider .icon-angle-right {
  position: absolute;
  top: 40%; }

.reviews .reviews-slider .icon-angle-left {
  left: 20px;
  z-index: 999; }

.reviews .reviews-slider .icon-angle-right {
  right: 20px; }

.reviews .reviews-text-slider .name {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 51px; }
  @media screen and (max-width: 920px) {
    .reviews .reviews-text-slider .name {
      margin-bottom: 30px; } }
  @media screen and (max-width: 980px) {
    .reviews .reviews-text-slider .name {
      font-size: 18px;
      line-height: 21px; } }

.reviews .reviews-text-slider {
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 9; }

.reviews .sin-testiText {
  outline: none;
  text-align: center;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 47px;
  max-width: 755px; }
  .reviews .sin-testiText .title {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 50px; }
    @media screen and (max-width: 920px) {
      .reviews .sin-testiText .title {
        margin-bottom: 30px; } }
  @media screen and (max-width: 920px) {
    .reviews .sin-testiText {
      margin-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 980px) {
    .reviews .sin-testiText {
      font-size: 14px;
      line-height: 21px; } }

.reviews-box {
  background: #fff;
  border-radius: 24px; }
  @media screen and (min-width: 921px) {
    .reviews-box {
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 81px;
      padding-right: 81px; } }

.reviews .sin-testiText p {
  margin-bottom: 20px; }
  .reviews .sin-testiText p:last-of-type {
    margin-bottom: 0; }

.reviews .grid-padding-x > .cell:nth-child(2) {
  position: relative; }

.reviews .grid-padding-x > .cell:nth-child(2) .quotes::after {
  top: 132px;
  right: 20px;
  -webkit-transform: rotate(0);
  transform: rotate(0); }

@media screen and (min-width: 768px) {
  .free-consultation {
    margin-bottom: 115px; } }
.free-consultation .container {
  position: relative; }
  .free-consultation .container:before {
    content: url("pattern-round.svg");
    right: -200px;
    bottom: -100px;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 920px) {
      .free-consultation .container:before {
        display: none; } }
.free-consultation-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  border-radius: 24px; }
  .free-consultation-box .form-group {
    margin-bottom: 36px; }
  .free-consultation-box .form-group-inline {
    flex-wrap: wrap; }
    @media screen and (min-width: 1150px) {
      .free-consultation-box .form-group-inline {
        margin-top: 58px; } }
    @media screen and (max-width: 560px) {
      .free-consultation-box .form-group-inline > * {
        width: 100%; } }
  .free-consultation-box .form-info {
    min-width: 258px; }
  @media screen and (max-width: 1150px) {
    .free-consultation-box-left {
      width: 100%; } }
  @media screen and (max-width: 1150px) {
    .free-consultation-box-right {
      display: none; } }
.free-consultation .form-horizontal {
  margin: 70px 60px 0 60px;
  width: 495px; }
  .free-consultation .form-horizontal .btn {
    width: 196px; }
  @media screen and (max-width: 1150px) {
    .free-consultation .form-horizontal {
      width: calc(100% - 60px);
      margin: 30px; }
      .free-consultation .form-horizontal .btn {
        width: 100%; } }
.free-consultation .form-line-3 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px); }
  .free-consultation .form-line-3 > * {
    margin-left: 15px;
    margin-right: 15px; }
    .free-consultation .form-line-3 > *:nth-child(1) {
      width: 249px; }
      @media screen and (max-width: 1150px) {
        .free-consultation .form-line-3 > *:nth-child(1) {
          width: calc(50% - 30px); } }
      @media screen and (max-width: 640px) {
        .free-consultation .form-line-3 > *:nth-child(1) {
          width: 100%;
          margin-bottom: 36px; } }
    .free-consultation .form-line-3 > *:nth-child(2), .free-consultation .form-line-3 > *:nth-child(3) {
      width: 93px; }
      @media screen and (max-width: 1150px) {
        .free-consultation .form-line-3 > *:nth-child(2), .free-consultation .form-line-3 > *:nth-child(3) {
          width: calc(25% - 30px); } }
      @media screen and (max-width: 640px) {
        .free-consultation .form-line-3 > *:nth-child(2), .free-consultation .form-line-3 > *:nth-child(3) {
          width: 100%;
          margin-bottom: 36px; } }
    @media screen and (max-width: 640px) {
      .free-consultation .form-line-3 > *:last-of-type {
        margin-bottom: 0; } }

.priceSlider > div {
  min-width: 246px; }

.tariff-block .slick-list {
  width: 100%; }
.tariff-block .lp-block-title {
  margin-bottom: 27px; }
.tariff-block .tariff-items {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  position: relative; }
  .tariff-block .tariff-items:before {
    content: url("pattern-round-ping.svg");
    right: -200px;
    bottom: -50px;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 920px) {
      .tariff-block .tariff-items:before {
        display: none; } }
.tariff-block .tariff-item {
  letter-spacing: 0.2px;
  padding: 52px 64px 64px 64px;
  box-shadow: 0 15px 30px rgba(20, 63, 219, 0.1);
  margin-bottom: 91px;
  margin-top: 10px;
  background: #fff;
  border-radius: 24px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 980px) {
    .tariff-block .tariff-item {
      padding: 25px 30px 30px 30px;
      margin-bottom: 40px; } }
  @media screen and (max-width: 560px) {
    .tariff-block .tariff-item {
      width: 246px; } }
  @media screen and (max-width: 980px) {
    .tariff-block .tariff-item {
      margin-left: 7px;
      margin-right: 7px; } }
  @media screen and (max-width: 1110px) {
    .tariff-block .tariff-item-img {
      display: none; } }
  .tariff-block .tariff-item-img-1 {
    position: absolute;
    right: 0;
    background: url("");
    background-repeat: no-repeat;
    top: 66px;
    width: 315px;
    height: 311px;
    background-size: contain; }
  .tariff-block .tariff-item-img-2 {
    position: absolute;
    right: 0;
    background: url("");
    top: 0;
    width: 202px;
    height: 463px;
    background-size: contain; }
  .tariff-block .tariff-item-img-3 {
    position: absolute;
    right: 0;
    background: url("tariff-3.png");
    top: 102px;
    width: 213px;
    height: 282px;
    background-size: contain; }
  .tariff-block .tariff-item-img-4 {
    position: absolute;
    right: 0;
    background: url("tariff-4.png");
    top: 40px;
    width: 247px;
    height: 356px;
    background-size: contain; }
  .tariff-block .tariff-item-label {
    color: #9782B2;
    font-size: 20px;
    line-height: 24px; }
  .tariff-block .tariff-item-name {
    margin-top: 2px;
    color: #292331;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif; }
    @media screen and (max-width: 980px) {
      .tariff-block .tariff-item-name {
        font-size: 25px;
        line-height: 29px;
        margin-top: 7px; } }
    .tariff-block .tariff-item-name.pink {
      color: #E83967; }
    .tariff-block .tariff-item-name i.icon.fire {
      display: inline-block;
      text-align: center;
      position: relative; }
      .tariff-block .tariff-item-name i.icon.fire:before {
        content: url("fire.svg");
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 33px;
        height: 33px; }
  .tariff-block .tariff-item-price {
    color: #292331;
    font-size: 44px;
    line-height: 52px;
    margin-top: 25px; }
    @media screen and (max-width: 980px) {
      .tariff-block .tariff-item-price {
        margin-top: 17px;
        font-size: 34px;
        line-height: 41px; } }
  .tariff-block .tariff-item-ul {
    list-style: none;
    flex-wrap: wrap;
    color: #292331; }
    .tariff-block .tariff-item-ul-box {
      display: flex;
      align-items: center;
      height: 340px; }
      @media screen and (max-width: 980px) {
        .tariff-block .tariff-item-ul-box {
          height: 290px;
          margin-top: 17px; } }
    .tariff-block .tariff-item-ul i.icon.tariff-round {
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 16px;
      text-align: center; }
      .tariff-block .tariff-item-ul i.icon.tariff-round:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #FF9922; }
    .tariff-block .tariff-item-ul i.icon.check {
      position: absolute;
      left: 0;
      bottom: 0; }
      .tariff-block .tariff-item-ul i.icon.check:before {
        content: url("check.svg");
        display: inline-block;
        width: 16px;
        height: 1px; }
    .tariff-block .tariff-item-ul li {
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      padding-left: 28px;
      font-size: 18px;
      line-height: 21px; }
      @media screen and (max-width: 980px) {
        .tariff-block .tariff-item-ul li {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 15px; } }
      .tariff-block .tariff-item-ul li.check {
        font-weight: bold; }
      .tariff-block .tariff-item-ul li.pink .tariff-round:before {
        background: #E83967; }
  .tariff-block .tariff-item-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    justify-content: space-between; }
    .tariff-block .tariff-item-bottom .btn {
      width: 100%;
      text-align: center;
      padding: 0 40px; }
      @media screen and (max-width: 1180px) {
        .tariff-block .tariff-item-bottom .btn {
          font-size: 14px; } }
    .tariff-block .tariff-item-bottom > * {
      margin-left: 10px;
      margin-right: 10px;
      z-index: 10; }
      @media screen and (max-width: 1180px) {
        .tariff-block .tariff-item-bottom > * {
          width: 100%;
          margin-bottom: 20px; }
          .tariff-block .tariff-item-bottom > *:last-of-type {
            margin-bottom: 0; } }
    .tariff-block .tariff-item-bottom-label {
      color: #7F768B;
      font-size: 14px;
      line-height: 16px; }
    .tariff-block .tariff-item-bottom-price {
      margin-top: 2px;
      font-size: 30px;
      font-family: 'Rubik', sans-serif;
      color: #292331; }
      .tariff-block .tariff-item-bottom-price .small {
        font-size: 20px; }

.contact-block {
  color: #292331;
  background: #F8F8FD;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media screen and (max-width: 920px) {
    .contact-block {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 0; } }
  .contact-block-content {
    position: relative; }
    @media screen and (min-width: 921px) {
      .contact-block-content:before {
        content: url("");
        position: absolute;
        right: 0;
        bottom: 0; } }
    .contact-block-content i.icon.contact-phone {
      position: relative;
      display: inline-block;
      width: 30px; }
      .contact-block-content i.icon.contact-phone:before {
        content: url("");
        display: inline-block;
        width: 30px;
        height: 30px; }
    .contact-block-content i.icon.map {
      position: relative;
      display: inline-block;
      width: 30px; }
      .contact-block-content i.icon.map:before {
        content: url("");
        display: inline-block;
        width: 30px;
        height: 30px; }
    .contact-block-content-row {
      margin-bottom: 40px;
      font-size: 14px;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 920px) {
        .contact-block-content-row {
          margin-bottom: 30px; } }
      .contact-block-content-row .phone {
        font-size: 19px;
        font-weight: bold; }
        @media screen and (max-width: 920px) {
          .contact-block-content-row .phone {
            font-size: 16px;
            line-height: 19px; } }
  .contact-block-items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap; }
  .contact-block-item {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px);
    box-shadow: 0 15px 30px rgba(20, 63, 219, 0.1);
    background: #fff;
    border-radius: 24px;
    padding: 60px; }
    @media screen and (max-width: 767px) {
      .contact-block-item {
        width: 100%;
        margin-bottom: 15px; }
        .contact-block-item:last-of-type {
          margin-bottom: 0; } }
    @media screen and (max-width: 920px) {
      .contact-block-item {
        padding: 30px; } }
    .contact-block-item a {
      font-size: 19px;
      color: #143FDB;
      line-height: 23px;
      font-weight: bold;
      border-bottom: 1px solid; }
      @media screen and (max-width: 920px) {
        .contact-block-item a {
          font-size: 16px;
          line-height: 19px; } }
      .contact-block-item a.phone {
        border-bottom: none;
        color: inherit; }
      .contact-block-item a:hover {
        color: inherit; }
    .contact-block-item-row {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      padding-left: 50px; }
      .contact-block-item-row:last-of-type {
        margin-bottom: 0; }
      .contact-block-item-row .social {
        position: absolute;
        right: 0;
        bottom: -9px; }
        @media screen and (max-width: 1080px) {
          .contact-block-item-row .social {
            position: relative;
            bottom: auto;
            width: 100%;
            margin-top: 8px; } }
        .contact-block-item-row .social a {
          border-bottom: 0;
          margin-right: 20px; }
          .contact-block-item-row .social a i {
            margin-right: 0; }
          @media screen and (max-width: 1080px) {
            .contact-block-item-row .social a {
              margin-right: 12px; } }
          .contact-block-item-row .social a:last-of-type {
            margin-right: 0; }
    .contact-block-item i.icon.contact-block-phone {
      position: absolute;
      display: inline-block;
      width: 34px;
      left: 0;
      top: -2px; }
      .contact-block-item i.icon.contact-block-phone:before {
        content: url("");
        display: inline-block;
        width: 34px; }
    .contact-block-item i.icon.contact-block-email {
      position: absolute;
      display: inline-block;
      width: 34px;
      left: 0;
      top: -2px; }
      .contact-block-item i.icon.contact-block-email:before {
        content: url("");
        display: inline-block;
        width: 34px; }
    .contact-block-item i.icon.contact-block-map {
      position: absolute;
      display: inline-block;
      width: 34px;
      left: 0;
      top: -2px; }
      .contact-block-item i.icon.contact-block-map:before {
        content: url("");
        display: inline-block;
        width: 34px; }
    .contact-block-item i.icon.contact-whatsapp {
      position: relative;
      display: inline-block;
      width: 30px; }
      @media screen and (max-width: 980px) {
        .contact-block-item i.icon.contact-whatsapp {
          width: 20px;
          background-size: contain; } }
      .contact-block-item i.icon.contact-whatsapp:before {
        content: url("");
        display: inline-block;
        width: 30px; }
        @media screen and (max-width: 980px) {
          .contact-block-item i.icon.contact-whatsapp:before {
            width: 20px;
            background-size: contain; } }
    .contact-block-item i.icon.contact-viber {
      position: relative;
      display: inline-block;
      width: 30px; }
      @media screen and (max-width: 980px) {
        .contact-block-item i.icon.contact-viber {
          width: 20px;
          background-size: contain; } }
      .contact-block-item i.icon.contact-viber:before {
        content: url("");
        display: inline-block;
        width: 30px; }
        @media screen and (max-width: 980px) {
          .contact-block-item i.icon.contact-viber:before {
            width: 20px;
            background-size: contain; } }
    .contact-block-item .phone {
      font-size: 19px;
      font-weight: bold; }
      @media screen and (max-width: 920px) {
        .contact-block-item .phone {
          font-size: 16px; } }
    .contact-block-item-name {
      font-size: 30px;
      line-height: 36px;
      font-family: 'Rubik', sans-serif;
      margin-bottom: 60px;
      font-weight: bold; }
      @media screen and (max-width: 920px) {
        .contact-block-item-name {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 40px; } }
  .contact-block-about-us {
    position: relative; }
    @media screen and (min-width: 921px) {
      .contact-block-about-us {
        padding-bottom: 121px; } }
    .contact-block-about-us .container {
      position: relative; }
      @media screen and (min-width: 921px) {
        .contact-block-about-us .container:after {
          content: url("pattern-round.svg");
          position: absolute;
          bottom: -150px;
          left: -300px;
          z-index: 0; } }
    .contact-block-about-us .contact-block-content > *, .contact-block-about-us .contact-block-items > * {
      z-index: 5; }
    .contact-block-about-us .contact-block-content {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .contact-block-about-us .contact-block-content:before {
        display: none; }
      .contact-block-about-us .contact-block-content > * {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(50% - 30px); }
        @media screen and (max-width: 920px) {
          .contact-block-about-us .contact-block-content > * {
            width: 100%; }
            .contact-block-about-us .contact-block-content > *.contact-block-content-text {
              order: 2; }
            .contact-block-about-us .contact-block-content > *.contact-block-content-img {
              order: 1;
              margin-bottom: 63px;
              display: flex;
              justify-content: center;
              margin-top: 30px; } }
      .contact-block-about-us .contact-block-content-text {
        font-size: 16px;
        line-height: 29px; }
        @media screen and (max-width: 920px) {
          .contact-block-about-us .contact-block-content-text {
            font-size: 14px;
            line-height: 21px; } }
        .contact-block-about-us .contact-block-content-text p {
          margin-bottom: 40px; }
          @media screen and (max-width: 920px) {
            .contact-block-about-us .contact-block-content-text p {
              margin-bottom: 25px; } }
      .contact-block-about-us .contact-block-content-img img {
        max-width: 100%;
        height: auto; }
    .contact-block-about-us .contact-block-item-row-address {
      line-height: 20px; }

.lk-block {
  margin-top: 53px;
  margin-bottom: 80px; }
  @media screen and (max-width: 920px) {
    .lk-block {
      margin-top: 40px;
      margin-bottom: 40px; } }
  .lk-block-content {
    position: relative; }
    @media screen and (max-width: 840px) {
      .lk-block-content > * {
        width: 100%;
        margin-bottom: 30px; }
        .lk-block-content > *:last-of-type {
          margin-bottom: 0; } }
    .lk-block-content label {
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      margin-bottom: 8px;
      color: #9782B2;
      width: 100%;
      display: block;
      text-transform: uppercase; }
    .lk-block-content-box {
      padding: 50px 60px 110px 50px;
      position: relative;
      background: #fff;
      border-radius: 24px;
      width: 100%; }
      @media screen and (min-width: 841px) and (max-width: 1080px) {
        .lk-block-content-box {
          width: calc(100% - 277px); } }
      @media screen and (max-width: 840px) {
        .lk-block-content-box {
          padding: 40px 30px 30px 40px;
          order: 2; } }
      @media screen and (min-width: 841px) {
        .lk-block-content-box {
          max-width: 714px;
          min-height: 460px; } }
      .lk-block-content-box-row {
        margin-bottom: 54px; }
        .lk-block-content-box-row:last-of-type {
          margin-bottom: 0; }
        .lk-block-content-box-row .info {
          font-size: 18px;
          line-height: 21px;
          color: #292331; }
        .lk-block-content-box-row-items {
          display: flex;
          flex-wrap: wrap;
          margin-left: -54px;
          margin-right: -54px; }
          .lk-block-content-box-row-items > * {
            margin-left: 54px;
            margin-right: 54px; }
            @media screen and (max-width: 480px) {
              .lk-block-content-box-row-items > * {
                width: 100%;
                margin-bottom: 54px; }
                .lk-block-content-box-row-items > *:last-of-type {
                  margin-bottom: 0; } }
      .lk-block-content-box-btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        @media screen and (min-width: 841px) {
          .lk-block-content-box-btns {
            position: absolute;
            bottom: 40px;
            width: calc(100% - 120px); } }
        .lk-block-content-box-btns .btn-no-border {
          display: inline-block;
          width: auto; }
          @media screen and (max-width: 767px) {
            .lk-block-content-box-btns .btn-no-border {
              margin-top: 20px; } }
        .lk-block-content-box-btns .btn-orange {
          min-width: 216px;
          text-align: center; }
      .lk-block-content-box-history .head {
        position: relative; }
        .lk-block-content-box-history .head .back {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          position: absolute;
          left: 0; }
        .lk-block-content-box-history .head .title {
          font-size: 16px;
          font-weight: 700;
          color: #292331;
          text-align: center; }
          @media screen and (min-width: 841px) {
            .lk-block-content-box-history .head .title {
              padding-left: 100px;
              padding-right: 100px; } }
          @media screen and (max-width: 840px) {
            .lk-block-content-box-history .head .title {
              padding-left: 90px;
              text-align: right;
              font-size: 14px; } }
        .lk-block-content-box-history .head i.icon.back-icon {
          display: inline-block;
          text-align: center;
          position: relative;
          width: 6px;
          margin-right: 10px; }
          .lk-block-content-box-history .head i.icon.back-icon:before {
            content: url("");
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 6px;
            height: 11px; }
      .lk-block-content-box-history .lk-table {
        margin-top: 28px; }
        @media screen and (min-width: 841px) {
          .lk-block-content-box-history .lk-table {
            max-height: 489px;
            overflow-y: auto;
            /* Track */
            /* Handle */
            /* Handle on hover */ }
            .lk-block-content-box-history .lk-table::-webkit-scrollbar {
              width: 6px;
              background: #fff; }
            .lk-block-content-box-history .lk-table::-webkit-scrollbar-thumb {
              background: #CED2D8;
              border-radius: 4px; }
            .lk-block-content-box-history .lk-table::-webkit-scrollbar-thumb:hover {
              background: #CED2D8; } }
        @media screen and (max-width: 840px) {
          .lk-block-content-box-history .lk-table {
            margin-left: -30px;
            margin-right: -30px; } }
        .lk-block-content-box-history .lk-table table {
          width: 100%;
          vertical-align: center; }
          .lk-block-content-box-history .lk-table table tr:nth-child(odd) {
            background: #F9F8FE;
            height: 44px; }
          .lk-block-content-box-history .lk-table table tr td {
            line-height: 42px;
            padding-left: 22px;
            padding-right: 22px; }
            .lk-block-content-box-history .lk-table table tr td.date {
              font-size: 12px;
              font-weight: 700;
              color: #9782B2; }
            .lk-block-content-box-history .lk-table table tr td.price {
              font-size: 18px;
              color: #292331;
              text-align: right; }
    .lk-block-content .lk-info-box {
      color: #292331;
      font-size: 18px;
      padding: 29px 29px 17px 29px;
      border-radius: 24px;
      border: 1px solid #00D7FF;
      line-height: 24px;
      position: relative;
      overflow: hidden;
      z-index: 10; }
      .lk-block-content .lk-info-box:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background: #fff;
        z-index: -1; }
      .lk-block-content .lk-info-box > * {
        z-index: 5; }
      @media screen and (min-width: 841px) {
        .lk-block-content .lk-info-box {
          width: 247px; } }
      @media screen and (min-width: 841px) {
        .lk-block-content .lk-info-box {
          position: absolute;
          top: 0;
          right: 0; } }
      .lk-block-content .lk-info-box-flex {
        display: flex;
        justify-content: space-between; }
      .lk-block-content .lk-info-box-row {
        margin-bottom: 42px; }
        .lk-block-content .lk-info-box-row:last-of-type {
          margin-bottom: 0; }
      .lk-block-content .lk-info-box-item .price {
        font-family: Rubik;
        font-weight: bold;
        color: #E83967; }
    @media screen and (min-width: 841px) {
      .lk-block-content .lk-btns {
        width: 247px; } }
    @media screen and (min-width: 841px) {
      .lk-block-content .lk-btns {
        position: absolute;
        bottom: 40px;
        right: 0; }
        .lk-block-content .lk-btns .btn-orange {
          margin-bottom: 100px; } }
    .lk-block-content .lk-btns a {
      width: 100%;
      margin-top: 30px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      text-align: center; }
      @media screen and (max-width: 840px) {
        .lk-block-content .lk-btns a:first-of-type {
          margin-top: 0; } }
  @media screen and (min-width: 841px) {
    .lk-block-history .lk-block-content-box {
      min-height: 572px;
      padding: 50px 60px; } }

.inline-btns {
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .inline-btns.center {
    justify-content: center; }
  .inline-btns > * {
    min-width: 216px;
    text-align: center; }
    @media screen and (max-width: 840px) {
      .inline-btns > * {
        width: 100%;
        text-align: center;
        margin-bottom: 21px; }
        .inline-btns > *:last-child {
          margin-bottom: 0; } }
  .inline-btns .btn-no-border {
    width: auto;
    min-width: auto; }
  @media screen and (max-width: 840px) {
    .inline-btns .btn-orange + * {
      margin-top: 20px; } }
  .inline-btns .btn-white-violet {
    width: auto;
    min-width: auto; }
    @media screen and (max-width: 840px) {
      .inline-btns .btn-white-violet {
        width: 100%; } }

label.error {
  width: 100%; }

.login-block {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1146px;
  margin: 0 auto;
  position: relative; }
  .login-block:before {
    content: url("pattern-round.svg");
    left: -200px;
    bottom: -50px;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 920px) {
      .login-block:before {
        display: none; } }
  .login-block:after {
    content: url("pattern-xz.svg");
    right: -200px;
    top: -50px;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 920px) {
      .login-block:after {
        display: none; } }

.login-block-box {
  max-width: 714px;
  width: 100%;
  padding: 60px 80px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background: #fff;
  z-index: 0; }
  @media screen and (max-width: 767px) {
    .login-block-box {
      margin-right: 16px;
      margin-left: 16px;
      padding: 30px;
      width: calc(100% - 32px); } }
  .login-block-box .form-horizontal {
    width: 100%; }

.tariff-block + .reviews .shadow:after {
  display: none; }

.buttons-demo {
  margin-top: 10%; }
  .buttons-demo > * {
    margin-bottom: 20px; }

body .btn {
  padding: 0 50px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 55px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
   not supported by any browser */ }
  @media screen and (max-width: 767px) {
    body .btn {
      width: 100%;
      text-align: center; } }
  body .btn-icon i {
    margin-right: 20px;
    margin-bottom: -6px; }
  body .btn-no-border {
    border-radius: 0;
    border: 0;
    padding: 0;
    color: #143FDB;
    position: relative; }
    body .btn-no-border:before {
      content: '';
      position: absolute;
      margin-bottom: 17px;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #143FDB; }
    body .btn-no-border:hover {
      color: #4885FF; }
      body .btn-no-border:hover:before {
        display: none; }
  body .btn-white-violet {
    border-color: inherit;
    color: #9682B4; }
    body .btn-white-violet:hover {
      color: #4885FF; }
  body .btn-white-blue {
    border-color: inherit;
    color: #143FDB; }
    body .btn-white-blue i.icon {
      background-color: #143FDB !important; }
    body .btn-white-blue:hover {
      color: #4885FF; }
      body .btn-white-blue:hover i.icon {
        background-color: #4885FF !important; }
    body .btn-white-blue.btn-icon {
      padding-left: 42px;
      padding-right: 42px; }
  body .btn-blue {
    border-color: #143FDB;
    background: #143FDB;
    color: #fff;
    padding: 0 41px; }
    body .btn-blue:hover {
      border-color: #3985FF;
      background: #3985FF; }
  body .btn-orange {
    border-color: #FF9922;
    background: #FF9922;
    color: #fff;
    padding: 0 25px;
    position: relative;
    z-index: 5; }
    body .btn-orange:after {
      content: '';
      position: absolute;
      left: 10%;
      top: 25px;
      -webkit-filter: blur(25px);
      -moz-filter: blur(25px);
      -o-filter: blur(25px);
      -ms-filter: blur(25px);
      filter: blur(25px);
      width: 80%;
      height: 80%;
      background-color: #FF9922;
      z-index: -1;
      opacity: 0.5; }
    body .btn-orange:hover {
      background: #FFB845;
      border-color: #FFB845; }
      body .btn-orange:hover:after {
        display: none; }
    body .btn-orange-disabled, body .btn-orange:disabled {
      background: #E2E3F7;
      border-color: #E2E3F7;
      cursor: default; }
      body .btn-orange-disabled:after, body .btn-orange:disabled:after {
        display: none; }
      body .btn-orange-disabled:hover, body .btn-orange:disabled:hover {
        background: #E2E3F7; }

.modalForm {
  display: none; }
  @media screen and (min-width: 841px) {
    .modalForm {
      width: 714px;
      border-radius: 24px;
      padding: 63px 86px 50px 86px; } }
  @media screen and (max-width: 840px) {
    .modalForm {
      padding: 30px; } }
  .modalForm i.icon {
    margin-right: 0; }
    .modalForm i.icon.cross {
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
      .modalForm i.icon.cross:before {
        content: url("cross.svg");
        width: 17px;
        height: 17px; }
  .modalForm .form-group-under {
    margin-top: -25px;
    text-align: left;
    margin-bottom: 40px; }
  .modalForm .form-horizontal {
    width: 100%; }
    .modalForm .form-horizontal .remember-password {
      border-bottom: 1px solid #143FDB;
      color: #143FDB;
      text-transform: uppercase;
      display: inline-block;
      font-size: 14px;
      font-weight: bold; }
      .modalForm .form-horizontal .remember-password:hover {
        text-decoration: none; }

.modal-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 44px;
  font-family: Rubik;
  position: relative;
  padding-right: 30px; }
  @media screen and (max-width: 840px) {
    .modal-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 36px; } }

.modal-content {
  font-size: 18px;
  line-height: 31px; }
  @media screen and (max-width: 840px) {
    .modal-content {
      font-size: 14px;
      line-height: 31px; } }
  .modal-content .image {
    margin-bottom: 40px; }
  .modal-content b {
    font-weight: bold; }
  .modal-content.center {
    text-align: center; }

.fancybox-close-small {
  display: none; }

footer {
  background: #292331;
  padding-top: 59px;
  padding-bottom: 26px; }
  footer .footer-item.align-right {
    text-align: right; }
  footer .footer-item.flex-2 {
    flex: 2; }
  footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    margin-left: -15px;
    margin-right: -15px; }
    footer .footer-top > * {
      flex: 1;
      margin-left: 15px;
      margin-right: 15px;
      min-width: 160px;
      margin-bottom: 39px; }
      @media screen and (max-width: 767px) {
        footer .footer-top > * {
          flex: auto; }
          footer .footer-top > *.align-right {
            text-align: left; }
          footer .footer-top > *.flex-2 {
            flex: auto; } }
  footer .footer-bottom {
    border-top: 1px solid #352F3E;
    padding-top: 23px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    footer .footer-bottom > * {
      flex: 1;
      margin-left: 15px;
      margin-right: 15px; }
  footer .footer-menu {
    font-size: 16px;
    font-weight: 700; }
    footer .footer-menu li {
      margin-bottom: 15px; }
      footer .footer-menu li a {
        color: #fff; }
        footer .footer-menu li a:hover {
          color: #4885FF; }
    footer .footer-menu-small {
      font-size: 14px; }
      footer .footer-menu-small li {
        margin-bottom: 10px; }
        footer .footer-menu-small li a {
          color: #9782B2; }
          footer .footer-menu-small li a:hover {
            color: #4885FF; }
  footer .footer-adress {
    font-size: 14px;
    color: #fff;
    line-height: 25px; }
  footer .footer-time {
    margin-top: 27px;
    font-size: 14px;
    color: #fff; }
  footer .footer-phone {
    font-size: 19px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.2px; }
    footer .footer-phone a {
      color: #fff; }
  footer .footer-callback {
    margin-top: 7px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-size: 12px; }
    footer .footer-callback a {
      color: #fff; }
      footer .footer-callback a i {
        margin-bottom: -2px;
        margin-right: 3px; }
      footer .footer-callback a:hover {
        color: #FAB833; }
        footer .footer-callback a:hover i {
          background-color: #FAB833; }
  footer .footer-email {
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px; }
    footer .footer-email a {
      color: #fff; }
      footer .footer-email a:hover {
        color: #5385FF; }
  footer .copyright {
    font-size: 12px;
    color: #5F5769;
    letter-spacing: 0.2px;
    line-height: 24px; }
  footer .footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    footer .footer-social > * {
      margin-right: 30px; }
      footer .footer-social > *:last-of-type {
        margin-right: 0; }
    footer .footer-social a:hover i {
      background-color: #4885FF !important; }
    footer .footer-social i.icon {
      margin-right: 0; }

.hidden {
  display: none; }

.inline-radio .wpcf7-list-item-label {
  display: none; }
.inline-radio .wpcf7-form-control-wrap {
  display: none; }

.lp-block-content {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media screen and (max-width: 920px) {
    .lp-block-content {
      margin-top: 40px;
      margin-bottom: 40px; } }
  .lp-block-content ol {
    list-style: decimal;
    line-height: initial; }
  .lp-block-content p {
    margin-bottom: 20px;
    line-height: initial; }

/*# sourceMappingURL=styles.css.map */
